<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>縦書き短歌</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<script th:src="@{/js/common.js}" type="module"></script>
</head>

<body>
	<header th:fragment="menu">
		<button id="menu-button">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<ul id="menu" class="tategaki-content">
			<li>
				<a th:href="@{/upload}">登録</a>
			</li>
			<li>
				<a th:href="@{/edit}">編集</a>
			</li>
			<li>
				<a th:href="@{/settings}">設定</a>
			</li>
			<li th:if="${mainPage==null}">
				<a th:href="@{/main}">メインページへ</a>
			</li>
		</ul>
	</header>
	<main layout:fragment="contents">各ページで置き換え</main>
	<footer><small>&COPY; 2026 Tategaki Tanka</small></footer>
</body>

</html>