<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>縦書き短歌</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link href='https://css.gg/css' rel='stylesheet'>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<script th:src="@{/js/common.js}" type="module"></script>
</head>

<body>
	<header th:fragment="menu">
		<button id="menu-button">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M2 6C2 5.44772 2.44772 5 3 5H21C21.5523 5 22 5.44772 22 6C22 6.55228 21.5523 7 21 7H3C2.44772 7 2 6.55228 2 6Z"
					fill="currentColor" />
				<path
					d="M2 12.0322C2 11.4799 2.44772 11.0322 3 11.0322H21C21.5523 11.0322 22 11.4799 22 12.0322C22 12.5845 21.5523 13.0322 21 13.0322H3C2.44772 13.0322 2 12.5845 2 12.0322Z"
					fill="currentColor" />
				<path
					d="M3 17.0645C2.44772 17.0645 2 17.5122 2 18.0645C2 18.6167 2.44772 19.0645 3 19.0645H21C21.5523 19.0645 22 18.6167 22 18.0645C22 17.5122 21.5523 17.0645 21 17.0645H3Z"
					fill="currentColor" />
			</svg>
		</button>
		<ul id="menu">
			<li>
				<a th:href="@{/upload}">登録</a>
			</li>
			<li>
				<a th:href="@{/edit}">編集</a>
			</li>
			<li>
				<a th:href="@{/settings}">設定</a>
			</li>
			<li>
				<a th:href="@{/main}">メインページへ</a>
			</li>
		</ul>
	</header>
	<div class="main-wrapper">
		<main layout:fragment="contents">各ページで置き換え</main>
	</div>
	<footer><small>&COPY; 2026 Tategaki Tanka</small></footer>
</body>

</html>