<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<main layout:fragment="contents">
		<h2>編集</h2>
		<h3>登録した文章の編集、削除ができます</h3>
		<select name="categoryId" onchange="location.href='/edit?categoryId='+this.value;">
			<option value="" th:selected="${selectedCategoryId==null}">全件表示</option>
			<option th:each="cate:${categoryList}" th:value="${cate.categoryId}" th:text="${cate.categoryName}"
				th:selected="${cate.categoryId==selectedCategoryId}">
			</option>
		</select>
		<ul class="edit-list">
			<li th:each="tankaItem:${list}">
				<form method="post" th:action="@{/delete}">
					<input type="hidden" name="tankaId" th:value="${tankaItem.tankaId}">
					<button type="submit">削除</button>
				</form>
				<form method="post" th:action="@{/update}" class="update-form">
					<input type="hidden" name="tankaId" th:value="${tankaItem.tankaId}">
					<textarea th:text="${tankaItem.content}" name="content" maxlength="1000"></textarea>
					<select name="categoryId">
						<option th:each="cate:${categoryList}" th:value="${cate.categoryId}"
							th:text="${cate.categoryName}"
							th:selected="${cate.categoryId==tankaItem.category.categoryId}">
						</option>
					</select>
					<button type="submit">確定</button>
				</form>

			</li>
		</ul>
	</main>
</body>

</html>