<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<main layout:fragment="contents">
		<h2>編集</h2>
		<ul>
			<li th:each="tankaItem:${list}">
				<form method="post" th:action="@{/delete}">
					<input type="hidden" name="tankaId" th:value="${tankaItem.tankaId}">
					<button type="submit">削除</button>
				</form>
				<form method="post" th:action="@{/update}">
					<input type="hidden" name="tankaId" th:value="${tankaItem.tankaId}">
					<textarea th:text="${tankaItem.content}" name="content"></textarea>
					<a th:if="${fields.hasErrors(content)}" th:errors="*{content}"></a>
					<button type="submit">送信</button>
				</form>

			</li>
		</ul>
	</main>
</body>

</html>