<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>縦書き短歌</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<main>
		<h1 class="title">縦書き短歌</h1>
		<a th:href="@{/main}">生成</a>
	</main>
</body>

</html>