<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<main layout:fragment="contents" class="main-page">
		<article class="tategaki-content" id="main-tategaki">
			<div class="genkou">
				<div class="container">
					<span th:each="char : ${chars}" th:class="${char=='¶' ? 'br' : 'masu'}"
						th:text="${char=='¶' ? '':char}">
					</span>
				</div>
			</div>
		</article>
		<select name="categoryId" onchange="location.href='/main?categoryId='+this.value;">
			<option value="" th:selected="${selectedCategoryId==null}">全件表示</option>
			<option th:each="cate:${categoryList}" th:value="${cate.categoryId}" 
			th:text="${cate.categoryName}" th:selected="${cate.categoryId==selectedCategoryId}">
			</option>
		</select>
		<a th:href="@{/main(currentId=${currentId},categoryId=${selectedCategoryId})}" class="reload">
			<span></span>
			
		</a>
	</main>
</body>

</html>