<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<main layout:fragment="contents">
		<h1>main</h1>
		<article th:text="${content}" class="tategaki-content" id="main-tategaki"></article>
	</main>
	<aside layout:fragment="navi">
		<button id="menu-button">menu</button>
		<nav th:fragment="menu" id="menu">
			<ul>
				<li>
					<a th:href="@{/upload}">登録</a>
				</li>
				<li>
					<a th:href="@{/edit}">編集</a>
				</li>
				<li>
					<a th:href="@{/settings}">設定</a>
				</li>
				<li>
					<a th:href="@{/}">top</a>
				</li>
			</ul>
		</nav>
		<a th:href="@{/main(currentId=${currentId})}">再生成</a>
	</aside>

</body>

</html>