<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<main layout:fragment="contents">
		<h2>設定</h2>
		<ul>
			<li>
				<label><input type="radio" name="font" value="font-HannariMincho">はんなり明朝<br>
					<span>例文</span>
				</label>
			</li>
			<li>
				<label><input type="radio" name="font" value="font-WDXL">WDXL Lubrifont<br>
					<span>例文</span>
				</label>
			</li>
		</ul>
		<button id="save-settings">設定を保存</button>

	</main>
</body>

</html>