@charset "UTF-8";

@font-face {
	font-family: 'HannariMincho';
	src: url(../fonts/HannariMincho-Regular.otf) format('opentype');
	unicode-range: U+0000-300B, U+300E-FFFF;
}

@font-face {
	font-family: 'KaiseiTokumin';
	src: url(../fonts/KaiseiTokumin-Regular.ttf) format('truetype');
	unicode-range: U+0000-300B, U+300E-FFFF;
}

@font-face {
	font-family: 'KiwiMaru';
	src: url(../fonts/KiwiMaru-Light.ttf) format('truetype');
}

:root {
	--default-font: "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS PMincho", serif;
	--selected-font: var(--default-font);
}

body {
	font-family: var(--default-font);
	overflow-x: hidden;
	letter-spacing: 0.2rem;
	background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(/img/1409443.png);
	background-size: 300px;
	background-repeat: repeat;
	color: #0b2222f0;
}

main {
	width: 100vw;
	margin: 3rem auto 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: #0b2222f0;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #9e9e9e5c;
}

.tategaki-content {
	writing-mode: vertical-rl;
}

#menu-button {
	position: fixed;
	top: 2rem;
	right: 2rem;
	border: none;
	background: none;
	display: flex;
	flex-direction: column;
	transform: rotate(90deg);
	gap: 0.4rem;
	padding: 1rem;
	transition: 0.5s;
}

#menu-button:not(.open):hover {
	transition: 0.3s;
	gap: 0.75rem;
	transform: scaleY(1.5) rotate(90deg);
}

#menu-button span {
	width: 2rem;
	background-color: #0b2222f0;
	height: 2px;
	border-radius: 0.1rem;
}

#menu-button span:nth-child(2) {
	width: 1.5rem;
}

#menu {
	position: fixed;
	color: white;
	height: 50vh;
	width: 200px;
	margin-top: 60px;
	right: -200px;
	font-size: 1.5rem;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	transition: 0.5s;
}

#menu.open {
	right: 0;
}

#menu-button.open span:nth-child(1) {
	transform: translateY(10px) rotate(45deg);
}

#menu-button.open span:nth-child(2) {
	background-color: transparent;
}

#menu-button.open span:nth-child(3) {
	transform: translateY(-10px) rotate(-45deg);
}


aside {
	display: flex;
	flex-direction: column;
}

#main-tategaki {
	font-family: var(--selected-font);
	margin-left: auto;
	margin-right: auto;
	font-size: x-large;
	white-space: pre-wrap;
}

.reload {
	position: fixed;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
	padding: 1rem;
}

.reload span {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	border: 2px solid #0b2222f0;
	border-radius: 50%;
	border-bottom: transparent;
	transition: 1.25s;
}

.reload:hover span {
	border-width: 4px;
	transform: rotate(540deg);
}

a {
	text-decoration: none;
}

.toast {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	bottom: 1.5rem;
	right: 1rem;
	writing-mode: lr;
	background-color: #3e3e3e;
	color: #fff;
	padding: 0.8rem 1.2rem 0.8rem 2.4rem;
	border-radius: 4px;
	font-size: 0.9rem;
	transition: 0.3s;
}

.toast.show {
	opacity: 1;
	visibility: visible;
}

.toast::before {
	display: block;
	position: absolute;
	top: 50%;
	left: 1rem;
	content: "";
	border-bottom: 2px solid;
	border-left: 2px solid;
	width: 0.8rem;
	height: 0.4rem;
	transform: translateY(-60%) rotate(-45deg);
}

.font-list {
	margin: 0 2rem;
}

.font-list li {
	margin: 0 2rem;
	padding-right: 0.2rem;
	line-height: 1.7rem;
	background-image: linear-gradient(to bottom, #0b2222f0 11px, transparent 11px);
	background-size: 2px 22px;
	background-repeat: repeat-y;
	background-position: right top;
}

.font-list li div {
	margin-right: 0.5rem;
}

input[type="radio"] {
	accent-color: #066c65;
	inline-size: 0.8rem;
	block-size: 0.8rem;
}

button#save-settings {
	align-self: flex-end;
	padding: 1rem 0.2rem;
	background-color: transparent;
	border: 2px solid #0b2222f0;
	border-radius: 5px;
}

button#save-settings:hover {
	background-color: #066c65;
	color: white;
	border: solid 2px #066c65;
}

.upload-form {
	width: 80%;
}

.upload-form textarea {
	display: block;
	width: 60%;
	min-height: 20vh;
	margin: 3rem auto;
	border: 1px solid rgb(116 116 116 / 50%);
	border-radius: 3px;
}

.upload-form button {
	display: block;
	margin: auto;
}