@charset "UTF-8";

@font-face {
	font-family: 'HannariMincho';
	src: url(../fonts/HannariMincho-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'Honoka';
	src: url(../fonts/Honoka_Shin_Mincho_L.otf) format('opentype');
}

@font-face {
	font-family: 'WDXL';
	src: url(../fonts/WDXLLubrifontJPN-Regular.ttf) format('truetype');
}

.main-wrapper {
	display: flex;
	margin: 0 auto;
	width: 95%;
	max-width: 1000px;
	gap: 100px;
	overflow-x: hidden;
}

ul {
	list-style: none;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #9e9e9e5c;
}

.tategaki-content {
	writing-mode: vertical-rl;
	white-space: pre-wrap;
}

#main-tategaki.font-HannariMincho {
	font-family: 'HannariMincho', 'Yu Mincho', 'Hiragino Mincho', serif;
}

#main-tategaki.font-Honoka {
	font-family: 'Honoka', 'Yu Mincho', 'Hiragino Mincho', serif;
}

#main-tategaki.font-WDXL {
	font-family: 'WDXL', 'Yu Gothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
}

#menu {
	position: absolute;
	top: 0;
	right: -160px;
	background-color: gainsboro;
	color: white;
	height: 100%;
	width: 160px;
}

#menu.open {
	right: 0;
	transition: 0.5s;
}

aside {
	display: flex;
	flex-direction: column;
}