@charset "UTF-8";

@font-face {
	font-family: 'HannariMincho';
	src: url(../fonts/HannariMincho-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'WDXL';
	src: url(../fonts/WDXLLubrifontJPN-Regular.ttf) format('truetype');
}

body {
	overflow-x: hidden;
}

main {
	width: 95%;
}

.main-wrapper {
	display: flex;
	margin: 30px auto;
	width: 95%;
	max-width: 1000px;
	gap: 100px;
	justify-content: space-between;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #9e9e9e5c;
}

.tategaki-content {
	writing-mode: vertical-rl;
}

#main-tategaki.font-HannariMincho {
	font-family: 'HannariMincho', 'Yu Mincho', 'Hiragino Mincho', serif;
}

#main-tategaki.font-WDXL {
	font-family: 'WDXL', 'Yu Gothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
}

#menu-button {
	position: fixed;
	top: 20px;
	right: 20px;
	border: none;
	background: none;
	display: flex;
	flex-direction: column;
	transform: rotate(90deg);
	gap: 5px;
}

#menu-button span {
	width: 24px;
	background-color: black;
	height: 2px;
}

#menu-button span:nth-child(2) {
	width: 20px;
}

#menu {
	position: fixed;
	background-color: gainsboro;
	color: white;
	height: 100%;
	width: 200px;
	margin-top: 60px;
	right: -200px;
}

#menu.open {
	right: 0;
	transition: 0.5s;
}

aside {
	display: flex;
	flex-direction: column;
}

#main-tategaki {
	margin-left: auto;
	margin-right: auto;
	font-size: x-large;
	white-space: pre-wrap;
}

.reload {
	position: fixed;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
}

a {
	text-decoration: none;
}